{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

<div class="row">
    <div class="col">
        <h1>Create new site</h1>
    </div>
    <div class="col">
        <form action="{% url 'add_site' %}" method="post">
            {% csrf_token %}
            {{ form | crispy }}
            <input type="submit" value="Submit" />
        </form>
    </div>
    <div class="col">

    </div>
    
</div>
{% endblock %}

{% block scripts %}
	<script type="text/javascript" src="{% static 'js/site_address_autocomplete.js' %}"></script>
{% endblock %}